@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  box-sizing: border-box;
  color: #333333;
}
.wrap {
  position: relative;
  display: flex;
  width: 1000px;
  height: 650px;
}

header {
  width: 200px;
  height: 100%;
}
.logo {
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.gnb {
  position: relative;
  margin: 20px 10px;
  border: 1px solid #000;
  z-index: 10;
}
.depth1 li {
  text-align: center;
  line-height: 50px;
  transition: all 0.4s;
}
.depth1 .link-depth1 {
  background: #70d2ff;
}
.depth1 .link-depth1:hover {
  background: #55abcb;
}
.depth2 {
  display: none;
  background: white;
}
.depth2 li:hover {
  background: #55abcb;
}
.inner {
  width: 800px;
}
.slidewrap {
  width: 800px;
  height: 350px;
}
.slide {
  position: relative;
}
.slide li {
  display: none;
}
.slide li:first-child {
  display: block;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
}
.contents {
  display: flex;
  padding: 10px 0;
  width: 800px;
  height: 200px;
}
.tabs {
  position: relative;
  width: 33.33%;
  height: 100%;
  padding-right: 10px;
  border-right: 1px solid #000;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tab-tit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  padding-top: 7px;
  text-align: center;
  background: #eee;
  z-index: 10;
}
.tab.on .tab-tit {
  background: #70d2ff;
}
.tab.on .bbs-rap {
  display: block;
}
.tab-tit h2 {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}
.bbs-rap {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.lst-bbs li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.lst-bbs li a {
  display: block;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gallery-tit {
  left: 100px;
}
.bbs-rap {
  display: none;
}

.lst-gallery {
  display: flex;
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 10px;
}
.lst-gallery li {
  padding: 0 5px;
  text-align: center;
}
.lst-gallery img {
  display: block;
  width: 100%;
}
.lst-gallery p {
  font-size: 12px;
  padding-top: 10px;
}
.banner {
  margin: 0 10px;
  margin: auto 0;
  border-right: 1px solid #000;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.goto {
  padding: 0 10px;
  margin: auto 0;
}
.goto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  width: 800px;
  height: 100px;
  background: #55abcb;
}
.footwrap {
  display: flex;
  height: 100%;
  align-items: center;
}
.foot-logo {
  padding-right: 50px;
}
.foot-menu {
  padding-bottom: 10px;
}
.foot-menu a {
  position: relative;
  margin-right: 40px;
}
.foot-menu a::after {
  content: "|";
  position: absolute;
  top: 0;
  right: -20px;
}
.foot-menu a:last-child::after {
  display: none;
}
.modalwrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.modalwrap.active {
  display: block;
}
.modal {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modalbx {
  position: relative;
  width: 500px;
  height: 300px;
  padding: 30px;
  background: white;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
}
.modalbx h2 {
  margin-bottom: 20px;
}
.modalbx button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 30px;
  background: #55abcb;
}
