@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: #333333;
}

.wrap {
  position: relative;
  display: flex;
  width: 1000px;
  height: 650px;
}
header {
  width: 200px;
  height: 100%;
  background: white;
  z-index: 10;
}
.logo {
  display: flex;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.logo img {
  display: block;
  width: 90%;
  /* height: 100%; */
  margin: auto;
}
.gnb {
  padding: 20px 10px;
  margin: 0 auto;
}
.depth1 li {
  width: 150px;
  line-height: 50px;
  background: white;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  background: #6ad162;
  transition: all 0.4s;
}
.depth1 > li a {
  color: white;
}
.link-depth1 {
  position: relative;
}
.depth1 li:hover {
  font-weight: bold;
  background: #51a74b;
}
.depth2 {
  display: none;
  position: absolute;
  top: 0;
  left: 150px;
  width: 150px;
  height: 300px;
  text-align: center;
  margin: auto;
  background: #6ad162;
}

.inner {
  width: 800px;
  height: 100%;
}
.slide {
  position: relative;
  width: 800px;
  height: 350px;
  overflow: hidden;
}
.slidewrap {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 300%;
}
.slidewrap img {
  display: block;
}
.contents {
  display: flex;
  width: 800px;
  height: 200px;
  align-items: center;
}
.tab {
  width: 33.333%;
  height: 180px;
  margin-right: 10px;
  border: 1px solid #000;
}
.tit {
  display: inline-block;
  width: 80px;
  height: 40px;
  /* padding: 10px; */
  line-height: 40px;
  text-align: center;
  background: #6ad162;
}
.cont {
  width: 100%;
  height: 138px;
  background: #6ad162;
}
.lst-bbs li {
  display: flex;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
.lst-bbs a {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gallery-con {
  padding: 10px 0;
}
.lst-gallery {
  display: flex;
  text-align: center;
}
.lst-gallery img {
  width: 80px;
  height: 100px;
  object-fit: cover;
}
.goto {
  margin: 0;
}
.goto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  display: flex;
  width: 100%;
  height: 100px;
  background: #51a74b;
  justify-content: space-between;
  align-items: center;
}
.logo-foot img {
  filter: grayscale();
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000018;
  display: none;
  z-index: 1000;
}
.modalwrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modalbox {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 30px;
  background: white;
  text-align: center;
  border-radius: 30px;
}
.modalbox h2 {
  margin-bottom: 30px;
}
.modalbox button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 80px;
  height: 40px;
  background: #51a74b;
  border: 0px solid #000;
  border-radius: 10px;
}
.modal.active {
  display: block;
}
