@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  box-sizing: border-box;
  color: #333333;
}

.wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  z-index: 15;
}
.gnb {
  height: 100%;
  padding-top: 50px;
}
.depth1 li {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #0066ad;
  transition: all 0.4s;
}
.depth1 a {
  color: #ffffff;
}
.depth1 {
  display: flex;
}
.depth2 {
  display: none;
}
.depth1 li:hover {
  background: #30a3f3;
}
.slide {
  width: 100%;
  height: 300px;
}
.slide-wrap {
  position: relative;
}
.slide-wrap > li {
  display: none;
}
.slide-wrap > li:first-child {
  display: block;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
}
.slider img {
  vertical-align: top;
}
.content {
  display: flex;
  width: 100%;
  height: 200px;
  margin: 10px 0;
  justify-content: space-between;
}
.tabs {
  position: relative;
  width: 33.333%;
  margin-right: 10px;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tab-tit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  line-height: 50px;
  text-align: center;
  background: #eee;
}
.bbs-tit {
  z-index: 1;
}
.gallery-tit {
  left: 100px;
}
.lst {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
}
.lst-bbs {
  display: none;
  width: 100%;
}
.lst-bbs li {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}
.lst-bbs a {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gallery-sec {
  display: none;
  width: 100%;
}
.lst-gallery {
  width: 100%;
  display: flex;
}
.lst-gallery li {
  width: 33.3333%;
  text-align: center;
}
.lst-gallery img {
  width: 80%;
}
.lst-gallery p {
  padding-top: 5px;
  font-size: 12px;
}
.tab.active .tab-tit {
  background: #0066ad;
}
.tab.active .tab-tit a {
  color: #ffffff;
}
.tab.active .lst {
  display: block;
}
.goto {
  margin: auto 0;
}
footer {
  display: flex;
  width: 100%;
  height: 100px;
  background: #30a3f3;
}
.logo-foot {
  margin: auto 0;
  filter: grayscale();
}
.foot-content {
  width: 800px;
  text-align: center;
  margin: auto 0;
}
.foot-menu {
  padding-bottom: 10px;
}
.foot-menu a {
  position: relative;
  padding-right: 10px;
}
.foot-menu a::after {
  content: "|";
  position: absolute;
  top: 0;
  right: 0;
}
.foot-menu a:last-child::after {
  display: none;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.modal-wrap {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 20px;

  background: white;
}
.modal-box {
  position: relative;
  text-align: center;
}
.modal-wrap h2 {
  padding-bottom: 30px;
}
button {
  position: absolute;
  bottom: -40px;
  right: 0;
  background: white;
  width: 60px;
  height: 30px;
  border-radius: 10px;
}
.modal.on {
  display: flex;
}
