@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: #333;
}
.wrap {
  overflow: hidden;
}
.inner {
  display: flex;
}
header {
  width: 200px;
  height: 800px;
  background: #aafcdf;
}
.logo {
  height: 80px;
  margin-top: 20px;
}
.gnb {
  margin: 10px;
  border: 1px solid #000;
}
.gnb .depth1 .link-depth {
  position: relative;
  border-bottom: 1px solid #000;
}
.depth1 .link-depth:last-child {
  border-bottom: 0px;
}
.link-depth > a {
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}
.link-depth:hover {
  background: #649a87;
  color: #fff;
}
.depth1:hover .depth2 {
  visibility: visible;
  opacity: 1;
}
.depth2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 179px;
  width: 2000px;
  height: 68px;
  display: flex;
  background: #649a87;
  transition: all 0.3s;
}
.depth2 li {
  line-height: 68px;
}
.depth2 li a {
  padding: 10px 30px;
}
.depth2 > li > a:hover {
  background: #aafcdf;
}
main {
  width: calc(100% - 200px);
}
.slide {
  height: 400px;
  background: lightcoral;
  overflow: hidden;
}
.slide-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide-wrap > li {
  display: none;
}
.slide-wrap > li:first-child {
  display: block;
}
.slide-wrap .slider {
  position: absolute;
  left: 0;
  top: 0;
}
.slide-wrap .slider img {
  vertical-align: top;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.goto {
  width: 100%;
  height: 150px;
  background: lightcyan;
}
.contents {
  width: 100%;
  height: 250px;
  background: lightgoldenrodyellow;
}
footer {
  display: none;
  width: 100%;
  height: 120px;
  background: lightgreen;
}
