@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: #333333;
}

.slide {
  width: 1500px;
  height: 900px;
  background: lightblue;
  overflow: hidden;
}
.slidewrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.slidewrap li {
  display: none;
}
.slidewrap li:first-child {
  display: block;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
