@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  box-sizing: border-box;
  color: #333333;
}
.wrap {
  position: relative;
}
.inner {
  display: flex;
  height: calc(100vh - 120px);
}
header {
  width: 200px;
  background: lightblue;
}
.contents {
  width: 400px;
  background: lightcoral;
}
/* 상하 슬라이드 */
/* .slide {
  position: relative;
  width: calc(100% - 200px - 400px);
  height: 100%;
  background: lightcyan;
  overflow: hidden;
}
.slideWrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.slider {
  width: 100%;
  height: 100%;
}
.slideWrap img {
  display: block;
  width: 100%;
  object-fit: cover;
} */

/* 좌우 슬라이드 */
/* .slide {
  position: relative;
  width: calc(100% - 200px - 400px);
  height: 100%;
  overflow: hidden;
}
.slideWrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 300%;
  height: 100%;
}
.slider {
  width: 100%;
  height: 100%;
}
.slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* fade in & out  */
.slide {
  width: calc(100% - 200px - 400px);
  height: 100%;
  overflow: hidden;
}
.slideWrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.slideWrap > li {
  display: none;
}
.slideWrap > li:first-child {
  display: block;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  width: 100%;
  height: 120px;
}
