@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box; 
   color: #333; text-decoration: none; list-style: none;}
.clearfix::before, .clearfix::after{display: block; content: ''; clear:both;}
.wrap{width: 100%;}
.inner{width: 1200px; margin: 0 auto;}

/*header*/
header{border-bottom: 2px solid #eee; width: 100%; height: 100px;}
.logo{float: left; width: 200px; height: 100px; padding-top: 30px;}
.nav{float: left; width: 1000px; height: 100px;}
.nav .menu{float: right; margin-top: 50px; width: 700px; position: relative; z-index: 5;}
.nav .menu .main li{float: left; width: 25%;}
.nav .menu .main li a{display: block; height: 50px; width: 100%; line-height: 50px; color: #fff; font-weight: 700; text-align: center; font-size: 18px; background-color: #376cff;}
.nav .menu .sub{display: none;}
.nav .menu .sub li{width: 100%;}
.nav .menu .sub li a{display: block; height: 50px; font-weight: 300;}
.nav .menu ul li a:hover{background-color: #0044ff;}
header .inner{position: relative; width: 1200px; margin: 0 auto;}
header .inner .menu-bg{display: none; position: absolute; top: 100px; left: 500px; z-index: 3; width: 700px; height: 200px; background-color: #376cff;}

/*slide*/
.slide{height: 300px; width: 1200px; margin: 0 auto; overflow: hidden;}
.slide .list{width: 3600px; height: 300px; position: relative;}
.slide .list img{display: block; float: left;}

/*contents*/
.contents{height: 200px; width: 1200px; margin: 0 auto;}
.contents > div{float: left; width: 400px; padding-top: 10px;}
.con1 .tab-menu .tab-btn ul li{float: left;}
.con1 .tab-menu .tab-btn ul li a{display: block; width: 100px; height: 40px; line-height: 40px; text-align: center; font-weight: 700; font-size: 17px; color: #333; background-color: #eee;}
.con1 .tab-menu .tab-btn ul li.active a{background-color: #376cff; color: #fff;}
.con1 .tab-menu .tab-cont {border: 2px solid #eee; padding: 12px; width: 380px; height: 140px;}
.con1 .tab-menu .tab-cont .notice a span{float: right;}
.con1 .tab-menu .tab-cont .gallery a:nth-child(2) img{margin: 0 5px;}
.con2{padding-left: 10px;}
.con3{padding-left: 20px;}

/*footer*/
footer{background-color: #eee;}
footer .inner > div{float: left;}
footer .inner{height: 100px;}
footer .inner .footleft {width: 200px; height: 100px; padding-top: 30px;}
footer .inner .footright > div{width: 1000px; height: 50px; text-align: center;}
footer .inner .footright .footmenu{padding-top: 28px;}
footer .inner .footright .copyright{padding-top: 2px;}


/*popup*/
.popup{position: absolute; top: 50%; left: 50%; width: 500px; height: 500px; margin-top: -250px; margin-left: -250px; padding: 20px; background-color: #fff; border: 2px solid #eee; display: none;}
.popup h2{margin-bottom: 10px;}
.popup .close{background-color: #376cff; color: #fff; font-weight: 700; font-size: 17px; height: 40px; width: 100px; text-align: center; line-height: 40px; display: block; position: absolute; bottom: 20px; right: 20px;}