@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; list-style: none; color: #333;}
.clearfix::before, .clearfix::after{display: block; content:''; clear:both;}

.wrap{width: 1200px; height: 700px; margin-left: auto; margin-right: auto;}

/*header*/
header{height: 100px; position: relative;}
header .logo{float: left; width: 200px; height: 100px; padding-top: 30px;}
header .nav{float: left; width: 1000px; height: 100px;}
header .nav .menu{float: right; position: relative; z-index: 5;}
header .nav .menu .main{margin-top: 50px; width: 700px;}
header .nav .menu .main li{float: left; height: 50px; width: 25%;}
header .nav .menu .main li a{text-align: center; font-weight: 700; font-size: 18px; color:#fff; line-height: 50px; display: block; background-color: #225aff;}
header .nav .menu .sub li{width: 100%;}
header .nav .menu .sub li a{font-weight: 300;}
header .nav .menu ul li a:hover{background-color: #1a49d6;}
header .menu-bg{width: 1200px; height: 150px; background-color: #225aff; position: absolute; z-index: 3; top: 100px; left: 0;}
header .menu-bg, header .sub{display: none;}

/*slide*/
.slide{height: 300px; overflow: hidden; position:relative; z-index: 1;}
.slide .list img{display: block;}

/*contents*/
.contents > div {float: left; height: 200px; width: 400px; padding-top: 10px;}

.contents .tab-btn{width: 100px; height: 40px;}
.contents .tab-btn a{display: block; width: 100%; height: 100%; font-weight: 700; font-size: 17px; line-height: 40px; text-align: center; color: #fff; background-color: #225aff;}
.contents .tab-cont{width: 380px; height: 140px; border: 2px solid #eee; padding: 12px;}
.contents .tab-cont a{text-decoration: none; line-height: 20px;}
.contents .tab-cont a span{float: right;}
.contents .con2{padding-left: 10px;}
.contents .con2 a:nth-child(2) img{margin: 0 5px;}
.contents .con3{padding-left: 20px;}

/*footer*/
footer > div{float: left;}
.footleft > div{width: 1000px; height: 50px;}
.footleft .footmenu {line-height: 20px; padding-top: 15px; text-align: center;}
.footleft .copyright {line-height: 20px; padding-top: 15px; text-align: center;}
.footright {width: 200px; height: 100px;} 
.footright select{width: 200px; height: 30px; margin-top: 35px;}

/*popup*/
.popup{position: absolute; top:50%; left: 50%; margin-left: -250px; margin-top: -250px; background-color: #fff; width: 500px; height: 500px; border: 2px solid #eee; z-index: 500; padding: 20px; display: none;}
.popup h2{margin-bottom: 10px;}
.popup a{display: block; line-height: 40px; text-align: center; background-color: #225aff; font-weight: 700; color: #fff; position: absolute; right: 20px; bottom: 20px; width: 100px; height: 40px;}