@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box; color: #333; text-decoration: none; list-style: none;}
.clearfix::before, .clearfix::after{display: block; content: ''; clear: both;}


html{height: 100%;}
.wrap{width: 100%; height: 100%;}
.top{width: 100%; height: calc(100% - 120px);}
.bottom{width: 100%; height: 120px; background-color: #fff;}


/*header*/
header{width: 200px; height: 100%; float: left; background-color: #f4f4f4;}
.logo{width: 100%; height: 100px; padding-top: 30px;}
.nav{padding: 10px; width: 100%; height: calc(100% - 120px);}
.menu .main li a{display: block; width: 180px; height: 50px; line-height: 50px; text-align: center; font-weight: 600; color: #fff; font-size: 18px; background-color: #ff4444;}
.menu .sub{display: none;}
.menu .sub li a{font-weight: 400; background-color:#fff; color: #333;}
.menu ul li a:hover{background-color: #e72020; color: #fff;}
.login{margin-top: 20px; text-align: center;}
.login a:hover{color: #ff1717;}

/*slide*/
.slide{width: calc(100% - 600px); height: 100%; float: left; position: relative; overflow: hidden;}
.slide .list{height: 100%; width: 300%; position: absolute; top: 0; left: 0;}
.slide .list a{float: left; width: 33.3333%; height: 100%;}
.slide .list a img{display: block; width: 100%; height: 100%; object-fit: cover; object-position: 0 0;}



/*contents*/
.contents{width: 400px; height: 100%; float: left;}
.con1{padding: 10px; width: 100%; height: 120px;}
.con1 a{background-color: #eee; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center;}
.con1 a .con1-1{width: 60px;}
.con1 a .con1-2{width: 24px;}
.con1 a .text{width: 240px;}
.con1 a .text p{font-size: 12px;}
.con2, .con3{padding: 10px; padding-top: 0; width: 400px; height: calc((100% - 240px) / 2);}
.con2 .con-box ul li a span{float: right;}
.con3 .con-box a{float: left;}
.con3 .con-box a:nth-child(2){margin-left: 10px;}
.con3 .con-box a img{width: 170px;}
.contents .con-title a{display: block; width: 100px; height: 40px; line-height: 40px; text-align: center; font-weight: 600; background-color: #eee; }
.contents .con-box {display: block; border: 2px solid #eee; padding: 10px; height: calc(100% - 40px);}
.con4{width: 400px; height: 120px; padding: 0 10px 10px 10px;}
.con4 .link{width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; background-color: #eee;}
.con4 a{width: 25%; text-align: center;}
.con4 a h5 {margin: 10px;}
.con4 a img{width: 32px;}


/*footer*/
footer{ width: 100%; height: 120px; background-color: #eee;}
footer > div {float: left;}
.foot1{width: 200px; height: 120px; padding-top: 40px;}
.foot2{width: calc(100% - 200px); padding-left: 10px;}
.foot2-1{height: 50px; line-height: 50px;}
.foot2-2{height: 70px;}

/*popup*/
.modal, .popup{display: none;}
.modal{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); z-index: 100;}
.popup{position: absolute; z-index: 1000; width: 500px; height: 500px; top: 50%; left: 50%; background-color: #fff; border: 2px solid #eee; margin-left: -250px; margin-top: -250px; padding: 20px; text-align: center;}
.popup h2{border-bottom: 2px solid #eee; padding: 10px; margin: 10px;}
.popup .close{width: 100px; height: 40px; line-height: 40px; font-weight: 700; font-size: 17px; background-color: #333; color: #fff; display: block; position: absolute; bottom: 20px; left: 200px;}
