@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  box-sizing: border-box;
  color: #333333;
}

.wrap {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}
header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background: lightblue;
}

.logo {
  margin: auto 0;
}
.depth1 {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.depth1 > li {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  text-align: center;
  background: #b0eeff;
}
.depth1 > li > a {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
}
.link-depth1 {
  position: relative;
}
.link-depth1:hover {
  background: #58aec6;
}
.depth1:hover .depth2 {
  visibility: visible;
  opacity: 1;
}
.link-depth1:hover,
.subBg {
  display: block;
}
.depth2 {
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  height: 50px;
  z-index: 150;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.depth2 li {
  text-align: center;
  width: 100%;
}
.depth2 li a {
  display: block;
  padding: 10px;
}
.depth2 li:hover a {
  background: #b0eeff;
}
.depth2:hover,
.subBg {
  display: block;
}
.subBg {
  display: none;
  position: absolute;
  width: 100%;
  height: 200px;
  top: 100px;
  left: 0;
  z-index: 10;
  background: lightgreen;
}
.slide {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.slideWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideWrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  display: none;
  /* display: flex; */
  width: 100%;
  height: 200px;
  background: lightcyan;
}
footer {
  display: none;
  /* display: flex; */
  width: 100%;
  height: 100px;
  background: lightgoldenrodyellow;
}
