@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: #333;
}
.wrap {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 100px;
  background: lightblue;
}
/* 상하 슬라이드 */
/* .slide {
  position: relative;
  width: 100%;
  height: 300px;
  background: lightcoral;
  overflow: hidden;
}
.slideWrap {
  position: absolute;
  top: 0;
  left: 0;
}
.slideWrap img {
  display: block;
} */

/* 좌우 슬라이드 */
/* .slide {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.slideWrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.slideWrap img {
  display: block;
} */

/* fade in fade out */
.slide {
  width: 100%;
  height: 300px;
}
.slideWrap {
  position: relative;
}
.slideWrap > li {
  display: none;
}
.slideWrap > li:first-child {
  display: block;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
}
.slider img {
  vertical-align: top;
}
.contents {
  width: 100%;
  height: 200px;
  background: lightcyan;
}
footer {
  width: 100%;
  height: 100px;
  background: lightgoldenrodyellow;
}
